name = input ("hey, what is your name? ")
print("you are a good man ")
print(name)

In [2]:
3 | 5

7

In [3]:
bin(7)

'0b111'

In [4]:
#negation
~3

-4

In [5]:
~100

-101

In [6]:
#xor operator
#uses the sign " ^ "
5^6

3

In [7]:
#shift >> left shift and right shift
#shhifts the bits to the left or the right

In [8]:
#left shift "<<" shifts the bits to the left by a specified number of positions by filling 0's on the right
35<<3

280

In [10]:
#explanation = the binary value of 35 is 100011, using left shift--->adds three zeroes on the right of the number
#so it becomes 100011'000', which is the binary value of 280
bin(35) = 100011
bin (280)

'0b100011000'

In [11]:
#right shift operator ">>": explanation is simila to the previous one,just the zeroes will be added 
#on the left side of the number
280>>3

35

In [12]:
#execution of python code will always be from left to right

In [13]:
#lecture: typecasting---->
5+5.6

10.6

In [14]:
#while coding there often come times where there is a mismatch between the datatypes and the operations
#between them are not properly executed and show error for eg
a="2"
b=3
a+b

TypeError: can only concatenate str (not "int") to str

In [15]:
#it can clearly be seen that although the value of a is a number,since it is put inside inverted commas,
#it identifies as a string
#solution
a="2"
b=3
int(a)+b

5

In [16]:
## string to integer
a="2"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [17]:
a = "ajay"
print(type(a))

<class 'str'>

In [18]:
a=2
type(a)

int

In [19]:
b= float(a)

In [20]:
b

2.0

In [21]:
name=input("what is your name? ")
print("you are a good man "+name)

what is your name?  aniket dutta

you are a good man aniket dutta

In [22]:
name = input("Hey, what is your name? ")
print("You are a great man "+ name)

Hey, what is your name?  Aniket Dutta

You are a great man Aniket Dutta

In [27]:
 a= int(input ("Enter any number "))
if a%2 == 0:
    print(f"{a}is an even number")
else:
    print(f"{a}is an even number")

Enter any number  12

12is an even number

In [1]:
a=int(input("What is your age sir? : "))
if a<18:
    print("You are a minor")
elif (a>= 18 and a<=20):
    print("You are eligible to drive but not eligible to drink")
else :
    print("You are eligible for both driving and drinking")

What is your age sir? :  12

You are a minor

In [2]:
print("helo wrld");

helo wrld

In [3]:
is_ds_course= True
if is_ds_course:
    print ("i am studying ds");

i am studying ds

In [5]:
weather= "s"
if weather == "sunny":
    print("the weather is good");
else:
    print("the weather is not good");

the weather is not good

In [7]:
a = int(input("tell me your marks : "))
if (a>=90 and a<=100):
    print ("congratulations! You got grade A");
elif (a>=70 and a<=89):
    print("Good job! You got grade B")
elif (a>=40 and a<=69):
    print("Try harder next time...You got grade C")
else :
    print("Better luck next time...You got grade D")

tell me your marks :  76

Good job! You got grade B

In [12]:
p=float(input("Please enter the price of the product that you want to buy : "));
a=float(p-((5/100)*p));
print ("Dear customer,we are providing a discount of 5%, the discounted price is : "+str(a));

Please enter the price of the product that you want to buy :  250

Dear customer,we are providing a discount of 5%, the discounted price is : 237.5

In [5]:
name=input("Please enter your name");
email=input("Please enter your email");
password=input("Please enter your password");
if name == "" :
    print("Name has not been entered yet");
else :
    if "@" not in email or "gmail.com" not in email:
        print("The email is not valid");
    else :
        if len(password)<0 or len(password)<=5 :
            print("Password should have more than 5 characters");
        else :
            print("You have successfully logged in!!");

Please enter your name aniket dutta
Please enter your email gdigehu@gmailcom
Please enter your password hgdcgwfufjr

The email is not valid

In [3]:
#loops
i=0
while i<7:
    print (i)
    i=i+1
else: print("l")

0
1
2
3
4
5
6
l

In [2]:
for i in "aniket":
    print (i)

a
n
i
k
e
t

In [6]:
l = ["a","n","i","k","e","t"]
for i in l:
        print(i)

a
n
i
k
e
t

In [9]:
l=["a","n","i","k","e","t"]

for i in l:
    if i=="e":
        break
    print (i)
else:
    print("l")

a
n
i
k

In [10]:
#range
list(range(0,10))#it will print values from 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(10):
    print (i,end=" ") ##as you keep increasing the space between the inverted commas,you will see the numbers arranged with gaps between them

0 1 2 3 4 5 6 7 8 9

In [15]:
#syntax of range:- start stop step,etc
list(range(0,10,2))# the number 2 indicates the magnitude of the jump that is made

[0, 2, 4, 6, 8]

In [1]:
#using while loop making a ryt angled triangle using star
row=1
while row <= 4:
    col = 1
    while col <= row:
        print("*",end=" ")
        col=col+1
    print()
    row+=1

*
* *
* * *
* * * *

In [3]:
#making a ryt angled triangle using for loop using star
for i in range(8):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [3]:
for i in range(3):
    for j in range(i+3):
        print("*", end=" ")
    print()    
    i=i-1

* * *
* * * *
* * * * *

In [12]:
for i in range(3):
    print("* * *")
    print()

* * *

* * *

* * *

In [19]:
#multiplication table
i = int(input("Enter the number : "))
for j in range(1,11):
        product = i*j
        print(f"{i} * {j} = {product}")
print()

Enter the number :  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
#data structures>> string, list, set, tuples, dictionary, array
#list>> can store heterogenous data/any datatype
#lists are mutable
a=["potato", "brinjal", "cucumber", "tomato", "carrot"]
#adding element to the list
a.append("orange")

In [2]:
a

['potato', 'brinjal', 'cucumber', 'tomato', 'carrot', 'orange']

In [3]:
#removing element from the list
a.remove("cucumber")

In [4]:
a

['potato', 'brinjal', 'tomato', 'carrot', 'orange']

In [5]:
#list inside list
lis=[[1,2,3],[4,5,6],[7,8,9]]
lis

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
#calling an element
lis[1][1]

5

In [7]:
#mutability
shopping_list= ["apple","brinjal","potato","pwskills"]
#replacing an element
shopping_list[0]="carrot"

In [8]:
shopping_list

['carrot', 'brinjal', 'potato', 'pwskills']

In [9]:
for item in shopping_list:
    print(item,end=" ")

carrot brinjal potato pwskills

In [11]:
for g in shopping_list:
    print(g)

carrot
brinjal
potato
pwskills

In [12]:
#tuple>> immutable>> cant edit,storing data like adhar card number,atm number,etc...
#heterogenous
point=(2,3)

In [13]:
type(point)

tuple

In [14]:
#tuple inside tuple
box1=("a","b")
box2=("c","d")
choco_box=(box1,box2)

In [15]:
choco_box

(('a', 'b'), ('c', 'd'))

In [18]:
for i in choco_box:
    for j in i:
        print(j)

a
b
c
d

In [19]:
#sets>> unordered collection of unique elements>> mutable>> major usecase: picking the unique elements from any set of elements
s={"red","purple","orange"}
type(s)

set

In [20]:
s={"red","orange","pink","yellow","red"}

In [21]:
s

{'orange', 'pink', 'red', 'yellow'}

In [22]:
#the result has 2 keyy takeaways: 1.The repeated elements are not repeated,means elements only uniquely chosen
#                                 2.The elements are arranged in unordered fashion
#since it is unordered,the numbers cant be called out(indexed),unlike lists and tuple
###adding element to the set,it can be removed using {s.remove(name)}
s.add("purple")

In [23]:
s

{'orange', 'pink', 'purple', 'red', 'yellow'}

In [24]:
#dictionaries>> stores the data in the form of key value pair
phone_book={"dad": 1234,"mom": 5678}
phone_book

{'dad': 1234, 'mom': 5678}

In [25]:
phone_book["dad"]

1234

In [26]:
##the element added to the end of dict,if resembles some previous element,will replace that previous element,for eg...
phone_book={"dad": 1234,"mom": 5678,"dad": 345}

In [27]:
phone_book

{'dad': 345, 'mom': 5678}

In [33]:
rest_menu={"paneer": 450,"rice": 100,"mutton": 1234}

In [29]:
rest_menu["paneer"]

450

In [30]:
rest_menu["paneer"]=460

In [31]:
rest_menu["paneer"]

460

In [34]:
rest_menu.keys() #calling the content

dict_keys(['paneer', 'rice', 'mutton'])

In [35]:
rest_menu.values() #calling the values of the elements

dict_values([450, 100, 1234])

In [36]:
## arrays>> homogenous>> similar to list

In [37]:
ord("A")

65

In [38]:
chr(66)

'B'

In [39]:
chr(25)

'\x19'

In [1]:
'\u0977'

'ॷ'

In [2]:
'''I am a student
i have purchased ds course 
now i study python'''

'I am a student\ni have purchased ds course \nnow i study python'

In [5]:
"I am a student"\n"I live in silchar"

SyntaxError: unexpected character after line continuation character (2070378494.py, line 1)

In [10]:
#addition of strings
string1= "hello"
string2= "world"
string1 +" "+  string2+ " >> result of addition"#there is a space that has been added between string1 and string2(inv commas have to be added)

'hello world >> result of addition'

In [11]:
string="ajay"

In [12]:
string[0]

'a'

In [13]:
#what if we want to access few parts of an entire sentence? sollution:-
string="I am a good student"
#       |||||||||||||||||||
#       0123456789012345678 >>> {counting the spaces}
string[0:4]

'I am'

In [15]:
string[0:11] #str[0:n-1]

'I am a good'

In [16]:
#also
string[0:]

'I am a good student'

In [22]:
string[:-3]

'I am a good stud'

In [23]:
string[-3:]
#   string[     :     ]
#            |     |
#         start   end

'ent'

In [24]:
#just like range function {range(1,10,1),here the numbers run from 1 to 9 and take one step at a time},string can be operated 
#with taking multiple steps at a time,for eg...{string[0:5:2], here the output will come as --- 'ia'}
string[0:5:2]

'Ia '

In [25]:
#reverse iteration>>
string[::-1]

'tneduts doog a ma I'

In [26]:
string2="ANIKET"

In [28]:
string2[::-1]

'TEKINA'

In [30]:
#string is said to be immutable,but theres a way in which some elements can be replaced
s="i live in indranagar, delhi"
s.replace("indranagar","subhashnagar")

'i live in subhashnagar, delhi'

In [32]:
#again
s.replace("indranagar","dharmnagar").replace("delhi","mumbai")

'i live in dharmnagar, mumbai'

In [33]:
#changing the case of the alphabets
text="HELLO WORLD"
text.lower()

'hello world'

In [34]:
text.title()

'Hello World'

In [35]:
text.swapcase()

'hello world'

In [36]:
a="Hey how are You Doing MAN "

In [37]:
a.swapcase()

'hEY HOW ARE yOU dOING man '

In [39]:
a.capitalize()

'Hey how are you doing man '

In [40]:
registered_username="Aniket,Suraj,Vijay,suhani"
new_username= "Kiran"
if new_username in registered_username:
    print("The username is already in use")
else:
    print("The username is unavailable")

The username is unavailable

In [41]:
product_scan_code="P14556"
scancode=input("Please enter the code we have sent you : ")
if scancode==product_scan_code:
    print("The scan is accepted")
else:
    print("This is not the code we have sent you")

Please enter the code we have sent you :  P1345

This is not the code we have sent you

In [43]:
movies="kkhh","mohabbatein","dhoom 3","suryavansham","singham","bandra"
sorted(movies)

['bandra', 'dhoom 3', 'kkhh', 'mohabbatein', 'singham', 'suryavansham']

In [44]:
amit="    very           good     "
amit.strip()

'very           good'

In [7]:
data="ajay,bijay,kunal,kushal,vinay,ibrahim"
data=data.split(",")

In [8]:
data

['ajay', 'bijay', 'kunal', 'kushal', 'vinay', 'ibrahim']

In [9]:
address=""" Saratpally, Sonai road
Silchar,
Assam"""

In [10]:
address

' Saratpally, Sonai road\nSilchar,\nAssam'

In [11]:
print("address")

address

In [17]:
table="hello,\nworld"

In [18]:
print(table)

hello,
world

In [19]:
table= "Name\tGrade\tAge\nAjay\tA\t35\nVijay\tA+\t37"
print(table)

Name	Grade	Age
Ajay	A	35
Vijay	A+	37

In [20]:
#\r>> moves the cursor to the place where you want to start from
des="Hello,I am Aniket Dutta,I am going to delhi"
des

'Hello,I am Aniket Dutta,I am going to delhi'

In [21]:
#now
des="Hello,I am \rAniket Dutta,I am going to delhi"

In [22]:
des

'Hello,I am \rAniket Dutta,I am going to delhi'

In [23]:
print(des)

Aniket Dutta,I am going to delhi

In [24]:
#string formatting>>>
name="Aniket Dutta"
print(f"hello {name}, How are you?")

hello Aniket Dutta, How are you?

In [29]:
name=str(input("what is your name mate? "))
print(f"Hello {name}, You are an interesting person to hang around with!!!")

what is your name mate?  Aniket Dutta

Hello Aniket Dutta, You are an interesting person to hang around with!!!

In [1]:
name=str(input("what is your name mate? "))
print("you are a cool person "+name)

what is your name mate?  aniket dutta

you are a cool person aniket dutta

In [3]:
celcius=30
print(f"30 degree in farenheit is {(celcius*9/5)+32}F")

30 degree in farenheit is 86.0F

In [4]:
#counting alphabets
c="pwskills"
len(c)

8

In [5]:
#another way
count=0
for i in c:
    print(i)
    count=count+1
print(count)

p
w
s
k
i
l
l
s
8

In [6]:
#adding item to list >> another example
bookshelf=[]
bookshelf.append("almanack")
bookshelf.append("5 am club")
bookshelf.append("big brain")

In [7]:
bookshelf

['almanack', '5 am club', 'big brain']

In [8]:
#adding elements to a list puts the element to the last spot...and we dont want that...we want to put the desired element at very
#specific position...then we use insert
lis=["orange","apple","mango","banana"]
lis.insert(2,"brinjal")

In [9]:
lis

['orange', 'apple', 'brinjal', 'mango', 'banana']

In [10]:
#adding one list to another
my_list=["orange","mango","banana","potato"]
brother_list=["onion","brinjal","tomato","strawberry"]
my_list.extend(brother_list)

In [11]:
my_list

['orange',
 'mango',
 'banana',
 'potato',
 'onion',
 'brinjal',
 'tomato',
 'strawberry']

In [15]:
print("*"*1)
print("*"*2)
print("*"*3)
print("*"*4)
print("*"*6)
print("*"*8)
print("*"*10)

*
**
***
****
******
********
**********

In [16]:
# shallow copy and deep copy
#shallow copy>> you make two lists and equate it wiith each other,then changes in one will be reflected in the copied one too
my_list=["orange","mango","banana","potato"]
a=my_list

In [17]:
a

['orange', 'mango', 'banana', 'potato']

In [18]:
a[1]="brinjal"

In [19]:
a

['orange', 'brinjal', 'banana', 'potato']

In [20]:
#deep copy>>
#   deep copy refers to equating two lists,after which changes in one will not be reflected in another.
b=my_list.copy()

In [21]:
b

['orange', 'brinjal', 'banana', 'potato']

In [22]:
b[2]="rocket"

In [23]:
b

['orange', 'brinjal', 'rocket', 'potato']

In [24]:
my_list

['orange', 'brinjal', 'banana', 'potato']

In [29]:
sorted(my_list)

['banana', 'brinjal', 'orange', 'potato']

In [31]:
my_list.index("banana")

0

In [33]:
#removing very specific inndex element
my_list=["orange","mango","banana","potato"]
my_list.pop()

'potato'

In [1]:
#list comprehension>> not a concept but a basic sort of practice
price=[20,30,40,50]

In [6]:
price=[20,30,40,50]
doubled_price = []
for i in price:
    doubled_price.append(i*2)

In [7]:
doubled_price

[40, 60, 80, 100]

In [13]:
#easy method>>
[i*2 for i in price]

[40, 60, 80, 100]

In [20]:
#capitalise the first letters
names=["ajay","bijay","snajay","sanjit"]
[i.capitalize()for i in names]

['Ajay', 'Bijay', 'Snajay', 'Sanjit']

In [21]:
#getting squares of numbers
numbers=[1,2,3,4,5]
[i**2 for i in numbers]

[1, 4, 9, 16, 25]

In [35]:
#for knowing the sort of extension used in a file
str1= "aay.jpg"
str1.split(".")[-1]

'jpg'

In [1]:
files=["hey.c","bhd.jpg","dgh.py","ghd.cpp"]
[files.split(".")[-1]for files in files]

['c', 'jpg', 'py', 'cpp']

In [4]:
#conditional list comprehension
email_address=["mk@gmail.com","rj@yahoo.com","hj@yahoo.com","df@gmail.com","rt@yahoo.com"]
[email for email in email_address if email.endswith("@yahoo.com")]

['rj@yahoo.com', 'hj@yahoo.com', 'rt@yahoo.com']

In [6]:
pairs=[]
for x in [1,2,3]:
    for y in [4,5,6]:
        pairs.append([x,y])
pairs

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [7]:
[[x,y]for x in[1,2,3]for y in [4,5,6]]

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [8]:
#queue>> learn from somewhere else

In [12]:
#tuples >> tuples are immutable...you cant make changes/ replace the elements of the tuple like you could do in a list
t=("informatics","maaza",2.5,2,3+5j)

In [13]:
type(t)

tuple

In [14]:
t[0]

'informatics'

In [15]:
tuple=("abcd","abcd","abcd","ysfg",1,2,3,1,1,1)
tuple.index("abcd")

0

In [16]:
tuple.count(1)

4

In [17]:
tuple.count("abcd")

3

In [19]:
#tuples are normally used where the data is not expected to be altered after once it is filled in.
t1=(23,45,67,89,1,2435,48376)
max(t1)

48376

In [20]:
min(t1)

1

In [22]:
s={1,2,3,4}
s.pop()

1

In [24]:
s.pop()

2

In [25]:
s

{3, 4}

In [27]:
s.add(1)

In [28]:
s.add(2)

In [29]:
s.update("Ajay")

In [30]:
s

{1, 2, 3, 4, 'A', 'a', 'j', 'y'}

In [32]:
s.remove("A")

In [35]:
s.update(["Ajay"])

In [36]:
s

{1, 2, 3, 4, 'A', 'Ajay', 'a', 'j', 'y'}

In [39]:
b1={"coding","photography","dancing"}
b2={"hiking","photography","writing"}
b1| b2 #union

{'coding', 'dancing', 'hiking', 'photography', 'writing'}

b1 & b2

In [40]:
b1 & b2 #intersection

{'photography'}

In [41]:
b1-b2# difference

{'coding', 'dancing'}

In [42]:
b1^b2 #symmetric difference>> displays the set discarding the common element

{'coding', 'dancing', 'hiking', 'writing'}

In [43]:
#the concept of frozenset >> it makes the set immutable >> nobody can make any alterations in frozenset
my_fs=frozenset([1,2,3,4,5,6])

In [44]:
my_fs

frozenset({1, 2, 3, 4, 5, 6})

In [45]:
#dictionary >> dictionary stores the value provided by the user in such a way that each element inserted inside the dictionary
# has a unique keyname ,which is inserted by the user itself...unlike lists,where each element entered in the list has a keyname
# given automatically,eg...1st element will be asssigned the value ---> 0,the next one is assigned the keyname 1,and so on...
# the elements in the dictionary are known by their keynames provided by the user itself.
d={"name":"Aniket","profession":"data science","colour":"black"}
d

{'name': 'Aniket', 'profession': 'data science', 'colour': 'black'}

In [46]:
d["name"]

'Aniket'

In [47]:
d[1]

KeyError: 1

In [48]:
#value under keynames might be anything as per user's wish, but keynames can only be strings,integers,float and tuple;
# >> adding elements to the dictionary>>
d["address"]="silchar"

In [49]:
d

{'name': 'Aniket',
 'profession': 'data science',
 'colour': 'black',
 'address': 'silchar'}

In [50]:
d.keys()

dict_keys(['name', 'profession', 'colour', 'address'])

In [51]:
d.values()

dict_values(['Aniket', 'data science', 'black', 'silchar'])

In [52]:
d.clear()

In [53]:
d

{}

In [54]:
del d

In [55]:
d1=d.copy()

NameError: name 'd' is not defined

In [62]:
#fromkeys>>
d={}
d.fromkeys((1,2,3),("a","b","c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [66]:
students=["arun","vijay","tarun"]
marks= [97,98,99]
students_marks={}
for j,i in zip(students,marks):
    students_marks[j]=i

In [67]:
students_marks

{'arun': 97, 'vijay': 98, 'tarun': 99}

In [68]:
#dictionary comprehension method>>>
students=["arun","vijay","tarun"]
marks= [97,98,99]
{j:i for j,i in zip(students,marks)}

{'arun': 97, 'vijay': 98, 'tarun': 99}